:root{
    --rowHeight: 300px;
}

.content-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    overflow-y: scroll;
    margin: 10vh auto;
    }
    .content-row{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .info{
        width: 70%;
        height: var(--rowHeight);
        text-align: justify;
        font-weight: bold;
        font-size: 22px;
        line-height: 1.4;
        color: rgb(192, 190, 190);
    }
    .info-pic{
        width: 30%;
        height: var(--rowHeight);
    }

.about{
    text-decoration: underline;
    text-underline-offset: 5px;
}

