:root{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
Main{
    display: flex;
    flex-direction: row;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.leftSide{
    width: 50vw;
    height: 100vh;
    background-color: #00374e;
    }
    .headshot{
        width: 300px;
        height: 350px;
        margin-left: 13.5vw;
        margin-top: 10vh;
        border-style: groove;
        border-width: 15px;
        border-color: blanchedalmond;
    }

.rightSide{
    width: 50vw;
    background-color: blanchedalmond;
    }
    .content{
        height: 80vh;
        margin-top: 9vh;
    }
    .nameBig{
        font-size: 80px;
        text-align: center;
    }
    .occupation{
        margin-top: 10px;
        text-align: center;
        font-size: 20px;
        color: #4d4f4d;
    }
    .menu{
        margin-top: 4vw;
        margin-left: 19vw;
        }
        .menu td{
            width: 10vw;
            text-align: center;
            font-size: 25px;
            padding-top: 2.5vh;
            padding-bottom: 2.5vh;

        }
        .menu img{
            width: 70px;
        }
        .menu td a{
            color: inherit;
            text-decoration: none;
        }
        .menu td:hover{
            cursor: pointer;
            text-decoration: underline;
            text-underline-offset: 5px;
        }
        #Me div{
            border-style:inset;
            border-radius: 5px;
            border-color: black;
            }
            #Me:hover{
                cursor: pointer;
                text-decoration: none;
            }