body{
    margin: 0;
    padding: 0;
    background-color: #522D80;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    background-color: #F56600;
    color: white;
}
header .menu_t{
    font-size: xx-large;
    font-weight: bold;
    padding: 10px;
}
header .menu-table{
    margin-left: auto;
    margin-right: 5vw;
}
header .menu-table td{
    padding-left: 2vw;
    padding-right: 2vw;
}
header .menu-table td:hover{
    color: gray;
}